---
import Header from "@components/Header.astro";
import Head from "@layouts/sections/Head.astro";
import { LOCALE } from "@config";
import "@styles/base.css";

export interface Props {
  title?: string;
  author?: string;
  profile?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
  pubDatetime?: Date;
  modDatetime?: Date | null;
  scrollSmooth?: boolean;
}

const props = Astro.props;

const scrollSmooth = props.scrollSmooth ?? false;

---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}` class={`${scrollSmooth && "scroll-smooth"}`}>
  <Head {...props}/>
  <body>
    <Header/>
    <slot />
  </body>
</html>
